* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
}

button {
  padding: 1rem;
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}
